In [1]:
import pandas as pd
import numpy as np

In [2]:
spells_df = pd.read_csv(r'C:\Users\nihar\OneDrive\Desktop\Projects\Data_Analysis_Tableau\Harry_Potter_Movie_Scripts\Spells.csv', encoding='latin1')
dialogue_df = pd.read_csv(r'C:\Users\nihar\OneDrive\Desktop\Projects\Data_Analysis_Tableau\Harry_Potter_Movie_Scripts\Dialogue.csv', encoding='latin1')

In [3]:
spells_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ï»¿Spell ID  61 non-null     int64
 1   Incantation  61 non-null     object
 2   Spell Name   61 non-null     object
 3   Effect       61 non-null     object
 4   Light        40 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.5+ KB

In [4]:
dialogue_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7444 entries, 0 to 7443
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dialogue ID   7444 non-null   int64
 1   Chapter ID    7444 non-null   int64
 2   Place ID      7444 non-null   int64
 3   Character ID  7444 non-null   int64
 4   Dialogue      7444 non-null   object
dtypes: int64(4), object(1)
memory usage: 290.9+ KB

In [5]:
dialogue_df.head()

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue
0,1,1,8,4,I should have known that you would be here...P...
1,2,1,8,7,"Good evening, Professor Dumbledore. Are the ru..."
2,3,1,8,4,"I'm afraid so, Professor. The good, and the bad."
3,4,1,8,7,And the boy?
4,5,1,8,4,Hagrid is bringing him.

In [6]:
spells_df.head()

,ï»¿Spell ID,Incantation,Spell Name,Effect,Light
0,1,Accio,Summoning Charm,Summons an object,NaN
1,2,Aguamenti,Water-Making Spell,Conjures water,Icy blue
2,3,Alarte Ascendare,Launch an object up into the air,Rockets target upward,Red
3,4,Alohomora,Unlocking Charm,Unlocks target,Blue
4,5,Arania Exumai,Spider repelling spell,Repels spiders,Blue

In [7]:
incantation_counts = {}
for index, row in spells_df.iterrows():
    incantation = row['Incantation']
    incantation_counts[incantation] = 0
    for dialogue in dialogue_df['Dialogue']:
        if incantation in dialogue:
            incantation_counts[incantation] += 1
incantation_df = pd.DataFrame({'Incantation': list(incantation_counts.keys()), 'Count': list(incantation_counts.values())})

In [8]:
incantation_df.to_excel('Spell_counts.xlsx', index=False)